examples/src/resources/com/pants/examples/jaxb/simple.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="SimpleVegetable">
    <xsd:sequence>
      <xsd:element name="commonName" type="xsd:string"/>
      <xsd:element name="scientificName" type="xsd:string"/>
      <xsd:element name="colorRGB" type="xsd:integer"/>
      <xsd:element name="tasty" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>